@"
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# PyCharm
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# App data
runtime/
logs/
exports/
temp/
"@ | Set-Content .gitignore -Encoding UTF8
/.pycache_tmp
